In [16]:
cd ..

/Users/louis.guitton/workspace/football-strava

In [ ]:
!python football_strava/get_data.py

2020-10-11 23:25:43.692 | INFO     | stravaio:strava_oauth2:343 - serving at port 8000
2020-10-11 23:25:46.856 | DEBUG    | stravaio:run_server_and_wait_for_token:397 - code: 5d88a5ff838b770824c51bfd894f51391e642a1a
2020-10-11 23:25:48.092 | DEBUG    | stravaio:run_server_and_wait_for_token:406 - Authorized athlete: 29e15919cb81c49d1e9cfa36ea0b6dd56fb19b5d
Traceback (most recent call last):
  File "football_strava/get_data.py", line 18, in <module>
    streams.store_locally()
  File "/Users/louis.guitton/workspace/football-strava/venv/lib/python3.8/site-packages/pandas/core/generic.py", line 5136, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'store_locally'

In [8]:
import pandas as pd

df = pd.read_parquet("~/.stravadata/streams_35856338/streams_3169231179.parquet")
df.head()

,time,distance,altitude,velocity_smooth,cadence,moving,grade_smooth,lat,lng
0,0,0.0,83.2,0.0,0,False,0.0,52.543724,13.409900
1,1,0.0,83.2,0.0,0,False,0.0,52.543724,13.409900
2,7,8.8,83.2,1.3,78,True,0.0,52.543799,13.409861
3,8,11.0,83.2,1.6,78,True,2.7,52.543818,13.409852
4,9,12.9,83.2,1.6,78,True,7.5,52.543835,13.409845

In [9]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.lng, df.lat))

In [10]:
gdf

,time,distance,altitude,velocity_smooth,cadence,moving,grade_smooth,lat,lng,geometry
0,0,0.0,83.2,0.0,0,False,0.0,52.543724,13.409900,POINT (13.40990 52.54372)
1,1,0.0,83.2,0.0,0,False,0.0,52.543724,13.409900,POINT (13.40990 52.54372)
2,7,8.8,83.2,1.3,78,True,0.0,52.543799,13.409861,POINT (13.40986 52.54380)
3,8,11.0,83.2,1.6,78,True,2.7,52.543818,13.409852,POINT (13.40985 52.54382)
4,9,12.9,83.2,1.6,78,True,7.5,52.543835,13.409845,POINT (13.40985 52.54384)
...,...,...,...,...,...,...,...,...,...,...
1409,4740,5708.6,70.2,0.5,0,False,0.0,52.543623,13.409650,POINT (13.40965 52.54362)
1410,4748,5712.4,70.2,0.5,48,False,0.0,52.543628,13.409594,POINT (13.40959 52.54363)
1411,4756,5715.6,70.2,0.4,0,False,0.0,52.543609,13.409560,POINT (13.40956 52.54361)
1412,4763,5721.6,70.2,0.6,0,False,0.0,52.543601,13.409648,POINT (13.40965 52.54360)
1413,4766,5724.7,70.2,0.9,58,True,0.0,52.543584,13.409685,POINT (13.40968 52.54358)

- there is no proper datetime information. you can get it from the Activity object and then combine it etc...
- this can be replaced by just uploading the GPX file for now